{% extends 'base.html' %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block main %}
{% load static %}
<div class="container-fluid" style="margin-top: 3rem;">
    <div class="card">
        <div class="card-header bg-success text-light ">
            <div class="row">
                <div class="col-md-8">
                </div>
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="row">
                <div class="card-title col-md-8 mt-2">
                    <h2 class="text-dark ml-2 font-italic">
                        Consulta de Recetas del paciente. 
                    </h2>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <table class="table table-striped table-hover table-sm  ">

                        <thead>
                            <tr>
                                <th class="text-center">Receta</th>
                                <th class="text-center">Medicamento</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">Dosis</th>
                                <th class="text-center">Frecuencias</th>
                                <th class="text-center">Duracion</th>
                            </tr>

                        </thead>
                        <tbody id="tabla">
                            {% for rec in recetasD%}
                            <tr>
                                <td class="text-center">{{ rec.receta }}</td>
                                <td class="text-center">{{ rec.medicamento.descripcion }}</td>
                                <td class="text-center">{{ rec.cantidad }}</td>
                                <td class="text-center">{{ rec.dosis.descripcion }}</td>
                                <td class="text-center">{{ rec.frecuencia.descripcion }}</td>
                                <td class="text-center">{{ rec.duracion.descripcion }}</td>
                            </tr>
                            <div class="float-right m-3">
                                <a class="btn btn-primary btn-sm"
                                href="{% url 'atencion:recetas' %}?id_paciente={{rec.receta.paciente.id}}">Cancelar</a>
        
                            </div>
                            {% empty %}
                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4 ">
                                    <div class="float-right m-1">
                                        <a class="btn btn-primary btn-sm"
                                        href="{% url 'base:paciente' %}">Cancelar</a>
                
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                                
                                <strong>Mensaje del Sistema!</strong> No existen Detalle de receta.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

